#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    chosen {
		zephyr,console = &cdc_acm_uart;
	};

    keymap {
        compatible = "zmk,keymap";
        default_layer  {
            bindings = <
                &kp A &kp LA(Y) &kp F18
                &kp E &kp F &kp G 
                &kp H &kp I &kp J
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};


// Allow USB logging
&usbd {
	status = "okay";
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};